<div class ="container">
 <div class ="row">
  <div class ="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <p>本当に退会しますか？</p>
    <p>退会すると全ての情報が消去されます。</p>
     <%= link_to "退会する", public_homes_top_path,class:"btn btn-danger", method: :delete, "data-confirm" => "本当に退会しますか？"%>
     <% link_to "戻る", public_homes_top_path %>
  </div>
 </div>
</div>