<div class ="container">
 <div class ="row">
  <div class ="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h4>本当に退会しますか？</h4>
    <p>退会すると全ての情報が消去されます。</p>

     <%= link_to public_homes_top_path,class:"btn btn-outline-secondary " do %>
      退会する
     <% end %>
     <% link_to "戻る",public_homes_top_path %>
  </div>
 </div>
</div>