<h1>マイページ</h1>
<h2>登録情報</h2>
<table class="table">
  <tbody>
  <tr><th>姓</th><th></th><th>名</th><th></th></tr>
  <tr><th>姓カナ</th><th></th><th>名カナ</th><th></th></tr>
  <tr><th>郵便番号</th><th></th><th></th><th></th></tr>
  <tr><th>住所</th><th></th><th></th><th></th></tr>
  <tr><th>電話番号</th><th></th><th></th><th></th></tr>
  <tr><th>メールアドレス</th><th></th><th></th><th></th></tr>
  <tr><th>パスワード</th><th></th><th></th><th></th></tr>
  </tbody>
</table>
<%= link_to edit_customer_path,class:"btn btn-outline-secondary btn-block" do %>
編集
<% end %>