<div class = "container">
<div class ="row">
  <div class = "mx-auto col-11 col-sm-10 col-lg-8 col-x1-6">
  <body>
    <%#= render 'public/searches/search',items: @item %>
    <p class="text-center">
      </br>
    <strong>「ながのCAKE」</strong>
     のお菓子をお届けできることを楽しみにしております！</p>

  </body>
  </div>
</div>
</div>