<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
       <h2>ながのCAKE　管理者用ページ</h2>
        <div class="btn-wrapper col-10 mx-auto">
          <div class="row">
           <%=link_to "注文履歴一覧" %>
          </div>
        </div>
    </div>
  </div>
</div>