<h1>カート内商品一覧画面(数量変更・カート削除の要素を含む)</h1>

<div class="row">
    <div class="col-xs-12">
      <table class="table table-hover table-bordered col-xs-10" >
         <thead>
          <tr class="情報">
            <th class="col-xs-3">商品</th>
            <th class="col-xs-3">税込価格</th>
            <th class="col-xs-3">数量</th>
            <th class="col-xs-3">小計</th>
            <th class="col-xs-3"></th>
          </tr>
         </thead>
         <tbody>
             <tr class="カートの中身">
                 <td class="col-xs-3">商品</td>
                 <td class="col-xs-3">¥</td>
                 <td class="col-xs-3">追加？</td>
                 <td class="col-xs-3">削除</td>
             </tr>
         </tbody>
        </table>
    </div>
</div>