<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
       <div class='col-md-8 offset-md-1'>
  		<table class='table'>
  		  <tr>
         <%= image_tag @item.image(100,100)%>
         <% @item..name%>
         <% @item. introduction %>    <%= f.select :quantity, [["選択肢１", "実際にDBに保存させる内容"], ["選択肢２", "実際にDBに保存させる内容"]], include_blank: "選択して下さい" %>
         <%= f.submit 'カートに入れる'%>
        </tr>
      </div>
    </div>
  </div>
</div>