<% if customer_signed_in? %>
 <div class="search_form">
   <%= form_with url: public_searches_search_path, local:true, method: :get do |f| %>
    <%= f.search_field :word %>
   <% end %>
 </div>
<% end %>